<div class="field">
  <%= form.check_box :has_location, checked: model_has_address?(model) %>
</div>

<input name="proposal[latitude]" class="proposal-latitude" autocomplete="off" type="hidden" >
<input name="proposal[longitude]" class="proposal-longitude" autocomplete="off" type="hidden" >

<div id="proposal_locations" class="hide" data-location-picker="<%= { revealSelector: "#proposal_locations_reveal" }.to_json %>">
  <ul class="tabs mb-s expanded" data-map-container="#pick_proposal_locations_map">
    <li class="tabs-title text-center" data-action="add-markers"><a href="#pick_loc" role="button"><%= t("pick_locations") %></a></li>
    <li class="tabs-title text-center" data-action="type-loc"><a href="#type_loc" role="button"><%= t("type_locations") %></a></li>
    <li class="tabs-title text-center" data-action="more">
      <ul class="dropdown menu" data-dropdown-menu data-autoclose="false" data-disable-hover="true" data-click-open="true" data-close-on-click="true" role="menubar">
        <li class="tabs-title" role="none">
          <a id="proposal_locations_tabs_more" href="#" aria-haspopup="true" role="menuitem"><%= icon "ellipses", role: "img", aria_label: "More options" %></a>
          <ul data-more-tabs class="menu" role="menu" aria-labelledby="proposal_locations_tabs_more">
            <li role="none" data-action="clear-markers"><a href="#" role="menuitem"><%= t("clear_markers") %></a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <div data-marker-field>
    <% model.locations.each do |loc| %>
      <div class="marker-field" data-marker-id=<%= loc.id %>>
        <input name="proposal[locations][][address]" class="location-address" autocomplete="off" type="hidden" value="<%= loc.address %>">
        <input name="proposal[locations][][latitude]" class="location-latitude" autocomplete="off" type="hidden" value=<%= loc.latitude %>>
        <input name="proposal[locations][][longitude]" class="location-longitude" autocomplete="off" type="hidden" value=<%= loc.longitude %>>
      </div>
    <% end %>
  </div>

  <div class="type-locations-wrapper hide">
    <label><%= t("address") %></label>
    <div class="input-group">
      <span class="input-group-label">
        <%= icon "map-marker", role: "img", "aria-hidden": true %>
      </span>
      <%= form.geocoding_field :address, placeholder: t("placeholder.address"), label: false, class: "type-loc-field input-group-field" %>
      <div class="input-group-button">
        <input type="button" class="type-loc-button hollow button" value="Add" disabled>
      </div>
    </div>
    <span class="hint form-input-extra-before hide" aria-hidden="true"><%= t("proposal_hint") %></span>
  </div>

  <div id="proposal_locations_reveal" class="reveal" data-reveal>
    <div class="reveal__header">
      <h3 id="budget-modal-info-label" class="reveal__title"><%= t("edit_location") %></h3>
    </div>

    <div class="location-fields">
      <div class="text-right">
        <button data-delete-marker type="button" class="button alert small"><%= t("delete_marker") %></button>
      </div>
      <label>
        <%= t("address") %>
        <input data-modal-address type="text" name="address">
      </label>
    </div>

    <div data-modal-buttons class="text-center">
      <button data-modal-save class="button primary"><%= t("save") %></button>
      <button class="link" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true"><%= t("cancel") %></span>
      </button>
    </div>
  </div>

  <div id="pick_proposal_locations_map">
    <%= dynamic_map_for({ type: "model_location" }, data: { decidim_revgeocoding: geocoding_options(current_organization) }) do %>
      <%= javascript_pack_tag "decidim_locations_edit_map" %>
    <% end %>
  </div>
</div>
