<div data-location-picker>
  <% if checkbox? %>
    <div class="field">
      <%= form.check_box :has_location, checked: model_has_address?(model) %>
    </div>
  <% end %>

  <% if form.object.respond_to?(:latitude) && form.object.respond_to?(:longitude) %>
    <%= form.hidden_field :latitude, class: "model-latitude", autocomplete: "off" %>
    <%= form.hidden_field :longitude, class: "model-longitude", autocomplete: "off" %>
  <% end %>

  <div class="picker-wrapper">
    <div data-shape-field>
      <% existent_locations.each do |loc| %>
        <% new_id = randomize_loc %>
        <div class="shape-field" data-shape-id=<%= loc.id ||= new_id %>>
          <% form.fields_for :locations do |locations| %>
            <% locations.fields_for "#{ loc.id ||= new_id }" do |location| %>
              <%= location.hidden_field :address, class: "location-address", autocomplete: "off", value: loc.address %>
              <%= location.hidden_field :shape, class: "location-shape", autocomplete: "off", value: loc.shape %>
              <%= location.hidden_field :latitude, class: "location-latitude", autocomplete: "off", value: loc.latitude %>
              <%= location.hidden_field :longitude, class: "location-longitude", autocomplete: "off", value: loc.longitude %>
              <%= location.hidden_field :geojson, class: "location-geojson", autocomplete: "off", value: loc.geojson %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <template id="model_input_template-<%= random_id %>">
      <% form.fields_for :locations do |locations| %>
        <% locations.fields_for "%index%" do |location| %>
          <%= location.hidden_field :address, class: "location-address", autocomplete: "off" %>
          <%= location.hidden_field :shape, class: "location-shape", autocomplete: "off" %>
          <%= location.hidden_field :latitude, class: "location-latitude", autocomplete: "off" %>
          <%= location.hidden_field :longitude, class: "location-longitude", autocomplete: "off" %>
          <%= location.hidden_field :geojson, class: "location-geojson", autocomplete: "off" %>
        <% end %>
      <% end %>
    </template>

    <div class="type-locations-wrapper mb-2">
      <label><%= t("address") %></label>
      <div class="input-group mb-2">
        <span class="input-group-label inline-block h-10 w-10 top-1.5 relative">
          <%= icon "map-pin-line", role: "img", "aria-hidden": true, class: "h-8 w-8 relative left-1 top-[3px]" %>
        </span>
        <% if form.object.class.name == "Decidim::FormsLocations::Admin::LocationOptionForm"%>
          <% form.fields_for :locations do |location| %>
            <%= location.geocoding_field :address, placeholder: t("placeholder.address"), label: false, class: "type-loc-field input-group-field" %>
          <% end %>
        <% else %>
          <%= form.geocoding_field :address, placeholder: t("placeholder.address"), label: false, class: "type-loc-field input-group-field" %>
        <% end %>
        <div class="input-group-button inline-block relative bottom-[7px]">
          <button class="type-loc-button button button__secondary button__sm h-10" disabled><%= t("add") %></button>
        </div>
        <span class="hint form-input-extra-before help-text hidden" aria-hidden="true"><%= t("hint") %></span>
      </div>

      <button class="button button__sm button__secondary w-5/6 relative left-[42px] hidden" disabled data-action="clear-shapes">
        <span aria-hidden="true"><%= t("clear_shapes") %></span>
      </button>
    </div>

    <%= decidim_modal id: "model_locations_#{ random_id }", class: "model_locations_modal" do %>
      <div>
        <h3 id="budget-modal-info-label<%= random_id %>" class="h3" data-dialog-title>
          <%= t("edit_location") %>
        </h3>
        <div class="flex justify-center">
          <div class="location-fields form__wrapper w-1/2">
            <label>
              <%= t("address") %>
              <input data-modal-address type="text" name="address">
            </label>
          </div>
        </div>
        <div data-modal-buttons data-dialog-actions class="text-center">
          <button data-delete-shape class="button button__lg button__transparent-secondary"><%= t("delete_shape") %></button>
          <button data-modal-save class="button button__lg button__secondary"><%= t("save") %></button>
        </div>
      </div>
    <% end %>

    <div id="pick_model_locations_map-<%= random_id %>" class="locations-map__container">
      <%= dynamic_map_for({ type: "model_location"}, { id: random_id, data: { decidim_revgeocoding: geocoding_options,
        map_configuration: map_configuration,
        lat: coords[0],
        lng: coords[1],
        select_location: select_location?,
        zoom: zoom }}) do %>
        <% add_snippets %>
      <% end %>
    </div>
    <% if select_location? %>
      <button class="button button__lg button__secondary mt-2 float-right done-location"><%= t(".done") %></button>
    <% end %>
  </div>
</div>
